/**
 * Global CSS for content-centric websites.
 * Simplified styles for admonitions.
 */

/* Primary Theme Colors */
:root {
  --ifm-color-primary: #466d9c;
  --ifm-color-primary-dark: #3f628c;
  --ifm-color-primary-light: #4d78ac;

  --background-color: #f3f3f3;
  --text-color: #333;
  --link-color: #0093c2;
}

/* Dark Mode */
[data-theme='dark'] {
  --ifm-color-primary: #0093c2;
  --ifm-color-primary-dark: #0084af;
  --ifm-color-primary-light: #00a2d5;

  --background-color: #353539;
  --text-color: #ddd;
  --link-color: #00a9df;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

/* Admonitions */
.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
  border-left: 8px solid;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

/* Note (Green Background) */
.admonition-note {
  background-color: rgba(46, 204, 113, 0.1);
  border-left-color: #2ecc71;
}

.admonition-note h5 {
  color: #2ecc71;
}

.admonition-note .admonition-icon svg {
  stroke: #2ecc71;
  fill: #2ecc71;
}

/* Tip (Blue Background) */
.admonition-tip {
  background-color: rgba(52, 152, 219, 0.1);
  border-left-color: #3498db;
}

.admonition-tip h5 {
  color: #3498db;
}

.admonition-tip .admonition-icon svg {
  stroke: #3498db;
  fill: #3498db;
}

/* Warning (Amber Background) */
.admonition-warning {
  background-color: rgba(241, 196, 15, 0.1);
  border-left-color: #f1c40f;
}

.admonition-warning h5 {
  color: #f1c40f;
}

.admonition-warning .admonition-icon svg {
  stroke: #f1c40f;
  fill: #f1c40f;
}

/* Important (Red Background) */
.admonition-important {
  background-color: #e94d3b1a;
  border-left-color: #e74c3c;
}

.admonition-important h5 {
  color: #e74c3c;
}

.admonition-important .admonition-icon svg {
  stroke: #e74c3c;
  fill: #e74c3c;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  min-height: 100%;
  background-color: var(--background-color);
}

/* Apply the same background color for header and footer */
header, footer {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Optional: Remove default padding/margins from header/footer */
header, footer {
  margin: 0;
  padding: 1em; /* Adjust padding as needed */
  text-align: center; /* Optional: Center align text */
}
